In [1]:
#
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

#
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
#
from datetime import datetime

#pandas中にあったdatareaderは独立したためこちらに変更
import pandas_datareader.data as pdr

In [7]:
#
end = datetime.now()
#
start = datetime(end.year-1, end.month, end.day)

#Yahoo
df = pdr.DataReader('GM', 'yahoo', start, end)

In [8]:
df.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-08-23  36.169998  35.630001  35.950001  35.669998   8742400.0  34.209019
2018-08-24  36.099998  35.759998  35.950001  35.950001   7278000.0  34.477551
2018-08-27  37.779999  36.230000  36.290001  37.689999  17968000.0  36.146286
2018-08-28  37.860001  36.919998  37.849998  37.320000   9638800.0  35.791435
2018-08-29  37.419998  36.880001  37.389999  37.119999   7223400.0  35.599628